
@{
    ViewBag.Title = "ArchivoCifrado";
}

<h2>Llaves Generadas Exitosamente</h2>
<h4>Archivos guardados en la carpeta /Archivo dentro del directorio del proyecto (\Laboratorio2\Laboratorio2/) </h4>