
@{
    ViewBag.Title = "ArchivoCifrado";
}

<h2>Archivo Descifrado Correctamente</h2>
<h4>Archivo guardado en la carpeta /Archivos dentro del directorio </h4>
@Html.ActionLink("Regresar", "Index", "FileUpload")